[Unit]
Description=CouchPotato application instance
After=network.target

[Service]
ExecStart=/opt/CouchPotatoServer/CouchPotato.py
Type=simple
User=mcurry
Group=mcurry
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
